body {
  font-family: Arial;
  background: #f4f4f4;
  padding: 20px;
}

button {
  padding: 10px 15px;
  margin-right: 10px;
  cursor: pointer;
  background: #3b82f6;
  border: none;
  color: white;
  border-radius: 6px;
}

.movie-card {
  background: white;
  padding: 15px;
  margin: 10px 0;
  border-radius: 6px;
  border-left: 4px solid #3b82f6;
}

.classic {
  background: #fff7d1;
  border-left-color: #f59e0b;
  padding: 3px 6px;
  border-radius: 4px;
  margin-left: 10px;
}
